body {
    background-color: #f2f2f2;
    font-family: 'Arial', sans-serif;
    text-align: center;
    
}

.contentSeccion {
    margin: 50px auto;
    background-color: #ffffff;
    border-radius: 10px;
    width: 600px;
    padding: 30px;
    box-shadow: 0 0 20px #333;
}
.fle{
    width: 100%;
    display: flex;
}

.headd {
    display: flex;
    margin-top: 20px;
    height: 130px;
    opacity: 0;
    transform: translateX(-100%);
    animation: fadeInFromLeft 1s ease-out forwards;
}

@keyframes fadeInFromLeft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.headd h1 {
    text-align: left;
    color: #fff;
    width: 300px;
    padding: 10px;
    background-color: #333;
    height: fit-content;
}

.heaad {
    
    display: flex;
    align-items: end;
    justify-content: end;
}

.heaad img {
    margin-left: 900px;
    width: 300px;
}

.contain{
    display: flex;
}
.container mt-52{
    padding: 5px;
}
.col-3{
    padding: 5px;
}
.container mb-3{
    padding: 5px;
}
form{
    display: flex;
    padding: 30px;
}
#formForm {
    width: 100%;
    margin-top: 20px;
}

.form-label {
    color: #333;
    margin-bottom: 10px;
    display: block;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f8f9fa;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s;
}

.btn-danger {
    background-color: #da0d21;
    color: #ffffff;
}

.btn-primary {
    background-color: #66ff00;
    color: #333;
}

.btn:hover {
    opacity: 0.8;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
