    
.gradient-custom {
    /* fallback for old browsers */
    background: #f6d365;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-color: #333;
    }

  #btnWar{
        width: 100% !important;
    }




    @keyframes slideIn {
      from {
          transform: translateY(-100%);
      }
      to {
          transform: translateY(0);
      }
  }
  
  /* Definición de la animación de cierre */
  
  
    
  body {
              font-family: Arial, sans-serif;
              margin: 0;
             
              background-color: #f4f4f4;
          }
  
  
          .header {
              animation: slideInHeader 1s forwards;
              
          }
          
          .container-menu {
              animation: slideDownMenu 1s forwards;
              
          }
          @keyframes slideInHeader {
              from {
                  transform: translateY(-100%);
              }
              to {
                  transform: translateY(0);
              }
          }
          
          @keyframes slideDownMenu {
              from {
                  transform: translateY(-100%);
              }
              to {
                  transform: translateY(0);
              }
          }
          
          @keyframes slideDownContent {
              from {
                  transform: translateY(-100%);
              }
              to {
                  transform: translateY(0);
              }
          }
          
        
  
          @keyframes slideInHeader {
              from {
                  transform: translateY(-100%);
              }
              to {
                  transform: translateY(0);
              }
          }
  
          @keyframes slideDownMenu {
              from {
                  transform: translateY(-100%);
              }
              to {
                  transform: translateY(0);
              }
          }
  
          @keyframes slideDownContent {
              from {
                  transform: translateY(-100%);
              }
              to {
                  transform: translateY(0);
              }
          }
  
          .header {
              animation: slideInHeader 1s forwards;
              
          }
          
          .container-menu {
              animation: slideDownMenu 1s forwards;
            
          }
