.tabla {
    background-color: rgb(220, 137, 137);
    margin-top: 10px;
}

.headerTabla {
    display: flex;
    color: rgb(0, 0, 0);
}

#searchBar {
    margin-top: 8px;
    margin-left: 400px;
}

.search {
    display: flex;
    align-items: center;
    line-height: 0;
}

.container .menu {
    float: right;
    height: 50px;
    margin-top: 20px;
}

.contentSeccion {
    display: block;
    margin-top: 200px;
    padding: 10px;
    background-color: white;
   
    margin-left: 150px;
    border-radius: 10px;
    max-width: auto;
    height: auto;
}
