
 /* Estilos del modal principal */
 body{
   
    align-items: center !important;
    text-align: center !important;
 }
 .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.839);
    justify-content: center;
    align-items: center;
}

.modal-content {
background-color: #333;    
padding: 20px;
    height: 200px;

    border-radius: 5px;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #fff;
}
#btnCerrarModal{
    cursor: pointer;
    height: 50px;
    width: 120px;
    margin-left: 50px;
    color: white;
    background-color: rgba(107, 0, 0, 0.782);
    border: none;
    padding: 10px;
    border-radius: 2px;
    box-shadow:
      0.3em 0.3em 0 0 var(--colori),
      inset 0.3em 0.3em 0 0 var(--colori);
} 
#btnCerrarModal:hover,
  #btnCerrarModal:focus {
    transform: scale(1.1, 1.1);
    transition: all;
    background-color: rgba(235, 0, 0, 0.782);
    font-size: 18px;
    box-shadow:
      inset 0 0 0 2em var(--hoveri);
  }
#btnBorrarModal {
    cursor: pointer;
    height: 50px;
    width: 120px;
    margin-left: 50px;
    color: white;
    background-color: rgba(11, 231, 95, 0.782);
    border: none;
    padding: 10px;
    border-radius: 2px;
    box-shadow:
      0.3em 0.3em 0 0 var(--colorr),
      inset 0.3em 0.3em 0 0 var(--colorr); /* Agrega una transición para el cambio de color */
}

#btnBorrarModal:hover,
  #btnBorrarModal:focus {
    transform: scale(1.1, 1.1);
    background-color: rgb(8, 255, 103);
    transition: ease-in-out;
    font-size: 18px;
    box-shadow:
      inset 0 2 4 2em var(--hover);
  }


.modal-content h4 {
    margin-bottom: 15px;
    font-size: 26px;
}

.modal-content p {
    margin-bottom: 20px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
}

.close-modal2 {
    position: absolute;
    top: 2px;
    right: 2px;
    cursor: pointer;
    color: #fff;
    font-size: 50px;
}


.modal2 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation-duration: 0.5s; 

    animation: slideIn 0.5s ease-out;

}

.modal-content2 {
    background: linear-gradient(0deg, rgba(0,22,249,0.24413515406162467) 14%, rgba(0,151,249,0.7819502801120448) 100%);
    margin-top: 50px;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    color: #fff;
}

.modal-content2 h4 {
    margin-bottom: 20px;
    font-size: 24px;
}

.modal-content2 label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #fff;
}

.modal-content2 input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 16px;
}

.modal-content2 button {
    padding: 15px 30px;
    margin-right: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.4s ease;
    overflow: hidden;
}

.modal-content2 button.btn-danger {
    background: #ff6f6f;
    color: #fff;
    transform: translateY(0);
}

.modal-content2 button.btn-secondary {
    background: #4169e1;
    color: #fff;
    transform: translateY(0);
}

.modal-content2 button:hover {
    background: #2f74d3;
    transform: translateY(-5px);
}

.custom-button {
    margin-left: 85%;
    margin-top: 20px;
    background-color: #4169e1;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: background 0.3s ease;
    position: relative;
    overflow: hidden;
}


@keyframes slideIn {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

/* Definición de la animación de cierre */


.custom-button:hover {
    background-color: #2f74d3;
}

.custom-button:after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    transition: left 0.3s ease;
    pointer-events: none;
}

.custom-button:hover:after {
    left: 100%;
}

.tittleModal {
    display: flex;
    background: none;
    backdrop-filter: blur(10px);
}
  
#form {
    display: inline-block;
    padding: auto;
    
}

.btn-secondary:hover {
    background: linear-gradient(90deg, rgba(7,0,69,1) 0%, rgba(46,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.btn-danger:hover {
    background: #d32f2f;
}

#agregarTXT {
    margin-right: 20px;
    margin-top: 10px;
    font-size: 15px;
}
body {
            font-family: Arial, sans-serif;
            margin: 0;
           
            background-color: #f4f4f4;
        }

        .up {
            display: flex;
            max-height: 300px;
            
        }

        .contentSeccion {
            max-width: auto;
            margin-top: 0;
            padding: 10px;
       
            animation: slideDownContent 2s forwards;
        }

        .header {
            animation: slideInHeader 1s forwards;
            
        }
        
        .container-menu {
            animation: slideDownMenu 1s forwards;
            
        }
        @keyframes slideInHeader {
            from {
                transform: translateY(-100%);
            }
            to {
                transform: translateY(0);
            }
        }
        
        @keyframes slideDownMenu {
            from {
                transform: translateY(-100%);
            }
            to {
                transform: translateY(0);
            }
        }
        
        @keyframes slideDownContent {
            from {
                transform: translateY(-100%);
            }
            to {
                transform: translateY(0);
            }
        }
        
        .anclaDis:hover .label {
            opacity: 1;
        }
        .headerTabla {
            background-color: #ffffff77;
            backdrop-filter: blur(10px);
            text-align: center;
            justify-content: center;
            align-items: center;
            margin-left: 10%;
            box-shadow: 20px 18px 26px rgba(0, 0, 0, 0.322);
            margin-top: 100px;
            font-size: 24px; 
            border-radius: 5px;
            padding: 5px;
            text-align: center;
            width: 80%;
           
            margin: 50px auto;
            position: relative;
            height: 100px;
        }

        .headerTabla h1 {
            font-size: 60px;
            color: #333;
        }

        .form-inline {
            display: flex;
            justify-content: center;
        }

        #IMGlaptop {
            width: 200px;
            height: 200px;
            margin-left: 150px;
           
        }

        .input-group {
            margin: 5px;
        }

        .table {
            padding: 5%;
            width: 100%;
            
        }

        .table th, .table td {
            padding: 2%;
            text-align: center;
            font-size: 14px;
        }

        .thead-dark {
            background-color: #333 !important;
            color: #fff !important;
        }

        .table tbody tr:nth-child(even) {
            color: black;
            background-color: #912828;
        }

        .table tbody tr:hover {
            background: none !important;
            background: linear-gradient(0deg, rgba(0, 22, 249, 0.2553396358543417) 51%, rgba(0, 151, 249, 0.7819502801120448) 100%) !important;
            color: #ffffff !important;
            transform: scale(1.05) !important;
            transition: transform 0.3s ease !important;
        }

        .table tbody tr {
            transition: transform 0.3s ease, box-shadow 0.3s ease !important; /* Agregado box-shadow a la transición */
        }

        .table tbody tr:hover {
            transform: scale(1.05) !important;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) !important;
        }


        #enlaceEditar {
            color: white;
            background-color: rgb(188, 217, 27);
            padding: 5px 10px;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }
        
        #enlaceEditar:hover {
            background-color: rgb(88, 100, 0);
        }
        
        #enlaceBorrar {
            color: white;
            background-color: rgb(178, 0, 0);
            padding: 5px 10px;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }
        
        #enlaceBorrar:hover {
            background-color: darkred;
        }
        

        .table a {
            display: inline-block;
            margin: 5px;
            padding: 5px 10px;
            text-decoration: none;
            color: #fff;
            background-color: #333;
            border-radius: 5px;
        }

        .header.hidden-header {
            display: none;
        }

        .table img {
            max-width: 1900%;
            height: auto;
        }

        @keyframes slideInHeader {
            from {
                transform: translateY(-100%);
            }
            to {
                transform: translateY(0);
            }
        }

        @keyframes slideDownMenu {
            from {
                transform: translateY(-100%);
            }
            to {
                transform: translateY(0);
            }
        }

        @keyframes slideDownContent {
            from {
                transform: translateY(-100%);
            }
            to {
                transform: translateY(0);
            }
        }

        .header {
            animation: slideInHeader 1s forwards;
            
        }
        
        .container-menu {
            animation: slideDownMenu 1s forwards;
          
        }

       