header {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: linear-gradient(0deg, rgba(0, 22, 249, 0.24413515406162467) 14%, rgba(0, 151, 249, 0.7819502801120448) 100%);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #fff;
}

.modal-content h4 {
    margin-bottom: 15px;
}

.modal-content p {
    margin-bottom: 20px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
}

.btn-danger,
.btn-secondary {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

.btn-danger {
    background: #ff6347;
    color: #fff;
}

.btn-secondary {
    background: #4169e1;
    color: #fff;
}

.btn-danger:hover,
.btn-secondary:hover {
    background: #d32f2f;
}

#IMGlaptop {
    
    max-width: 320px;
    max-height: 320px;
}

#btnAgregarNuevo{
    max-height: 50px;
    
    margin-top: 3%;
}

#divBuscar{
    margin-top: 10% !important;
margin-left: 3%;
width: 50%;

}

@media only screen and (max-width: 768px) {
    #IMGlaptop {
        max-width: 150px;
        /* Reducir el tamaño de la imagen en tabletas */
        max-height: 150px;
    }
}