body {
    margin: 0;
    padding: 0;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
}

.header {
    width: 100%;
}

#logoInventarit {
    width: 120px;
    margin-right: 40px;
}

.menu {
    background-color: #333;
    color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
}

.menu h1 {
    margin-right: 20px;
}

#btnCerrarSesion{
    color: #ff0000c4 ;
}

.menu a {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
    transition: all 0.3s ease;
}
.dark-list {
    background-color: #343a40;
    color: #ffffff;
  }
  /* Personaliza el color de fondo de los elementos de la lista */
  .dark-list li {
    background-color: #343a40;
    color: #ffffff;
  }
.menu a:hover {
    color: #3dc51b;
}


.navbar-nav hr {
    border-top: 1px solid rgb(255, 255, 255); 
    margin: 8px 0; 
}





#userDropdown {
    position: absolute !important;
    top: 100%;
    right: 0;
    background-color: #333;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 10 !important;
    display: none;
}

#userDropdown a {
    color: white;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
}

#userDropdown a:hover {
    background-color: #555;
}

#btnUserDropDown{
    color: #333 !important;
}

.messages:hover #userDropdown {
    display: block;
}
